rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /consents/{document=**} {
      allow create: if true;
      allow read: if true;
      allow delete: if true;
      allow update: if false;
    }
  }
}
